<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ahmedProject</display-name>
  <servlet>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GestionController</servlet-name>
    <servlet-class>controller.GestionController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestionController</servlet-name>
    <url-pattern>/gestion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ControllerGestion</display-name>
    <servlet-name>ControllerGestion</servlet-name>
    <servlet-class>controller.GestionController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerGestion</servlet-name>
    <url-pattern>/ControllerGestion</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InscriptionController</servlet-name>
    <servlet-class>controller.InscriptionController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InscriptionController</servlet-name>
    <url-pattern>/inscription</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AccueilUserController</servlet-name>
    <servlet-class>controller.AccueilUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccueilUserController</servlet-name>
    <url-pattern>/accueilUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ParcoursController</servlet-name>
    <servlet-class>controller.ParcoursController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ParcoursController</servlet-name>
    <url-pattern>/parcours</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GestionParcoursController</servlet-name>
    <servlet-class>controller.GestionParcoursController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestionParcoursController</servlet-name>
    <url-pattern>/gestionparcours</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GestionStatutController</servlet-name>
    <servlet-class>controller.GestionStatutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestionStatutController</servlet-name>
    <url-pattern>/gestionstatut</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreationQuizzController</servlet-name>
    <servlet-class>controller.CreationQuizzController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreationQuizzController</servlet-name>
    <url-pattern>/creationquizz</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChoisirSujetController</servlet-name>
    <servlet-class>controller.ChoisirSujetController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChoisirSujetController</servlet-name>
    <url-pattern>/choisirsujet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChoisirQuizzController</display-name>
    <servlet-name>ChoisirQuizzController</servlet-name>
    <servlet-class>controller.ChoisirQuizzController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChoisirQuizzController</servlet-name>
    <url-pattern>/choisirquizz</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ModifUserController</servlet-name>
    <servlet-class>controller.ModifUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifUserController</servlet-name>
    <url-pattern>/modifuser</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>UsersController</servlet-name>
    <servlet-class>controller.UsersController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UsersController</servlet-name>
    <url-pattern>/users</url-pattern>
  </servlet-mapping>
 
</web-app>